<div class="new-restaurant-form">
  <h2 class="text-center mt-4">修改餐廳內容</h2>
  <div class="container">
    <form action="/restaurants/{{restaurantContent._id}}/edit" method="POST">
      <div class="form-group mb-4 mt-6">
        <label for="name" class="form-label">中文店名 (Shop name in chinese)</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          maxlength="20"
          placeholder="請輸入中文店名..."
          value="{{restaurantContent.name}}"
          required
        />
      </div>

      <div class="form-group mt-4">
        <label for="name_en" class="form-label">英文店名 (Shop name in english)</label>
        <input
          type="text"
          class="form-control"
          id="name_en"
          name="name_en"
          placeholder="Enter your shop name in english..."
          value="{{restaurantContent.name_en}}"
          required
        />
      </div>

      <div class="form-group mt-4">
        <label for="category" class="form-label">料理類別(Food style)</label>
        <input
          list="category-options"
          class="form-control"
          id="category"
          name="category"
          placeholder="如無需要的選項，請自行填寫 (If you don't find out the option, please type yourself.)"
          value="{{restaurantContent.category}}"
          required
        />
        <datalist id="category-options">
          <option>義式料理 (Italy)</option>
          <option>法式料理 (French)</option>
          <option>日本料理 (Japan)</option>
          <option>中東料理 (Middle East)</option>
          <option>中式料理 (Chinese</option>
          <option>歐式料理 (European)</option>
          <option>酒吧 (Bar)</option>
          <option>咖啡廳 (Cafe)</option>
        </datalist>
      </div>

      <div class="form-group mt-4">
        <label for="image" class="form-label">店面照片 (Shop picture)</label>
        <input
          type="url"
          class="form-control"
          id="image"
          name="image"
          placeholder="請輸入圖片網址 (shop picture) https://..."
          value="{{restaurantContent.image}}"
          required
        />
      </div>

      <div class="form-group mt-4">
        <label for="location" class="form-label">店面地址 (Address)</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="請輸入店家地址 (Please input the address)"
          value="{{restaurantContent.location}}"
          required
        />
      </div>

      <div class="form-group mt-4">
        <label for="phone" class="form-label">聯絡電話 (Shop phone number)</label>
        <input
          {{! !!注意電話的部分會不會變成number，資料格式是屬於字串 }}
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="請輸入電話號碼 (please type your phone)"
          value="{{restaurantContent.phone}}"
          required
        />
      </div>

      <div class="form-group mt-4">
        <label for="google_map" class="form-label">Google地圖連結 (Google Map)</label>
        <input
          type="url"
          class="form-control"
          id="google_map"
          name="google_map"
          placeholder="Google地圖網址 (Google map website)"
          value="{{restaurantContent.google_map}}"
          required
        />
      </div>

      <div class="form-group mt-4">
        <label for="rating" class="form-label">評分 (Rating)</label>
        <input
          type="number"
          class="form-control"
          id="rating"
          name="rating"
          min="1"
          max="5"
          step="0.1"
          placeholder="請輸入google的評分 (Please input your google's rating)"
          value="{{restaurantContent.rating}}"
          required
        />
      </div>

      <div class="form-group mt-4 mb-4">
        <label for="description" class="form-label">餐廳介紹 (introduction)</label>
        <textarea
          type="url"
          class="form-control"
          id="description"
          name="description"
          rows="5"
          maxlength="300"
          placeholder="請在300字以內介紹自己的餐廳 (Please type the words less than 300)"
          required
        >{{restaurantContent.description}}</textarea>
      </div>

      {{! note href ="../"表示回到上一層}}
      <div class="text-center">
        <button type="submit" class="btn btn-primary">修改完成 (Finished)</button>
        <a href="../{{restaurantContent._id}}" class="btn btn-secondary">取消
          (Cancel)</a>


        {{!-- note 在最上面有個方法POST，若是加了delete也是用POST，則會卡到，變成修改的模式，用<a>則方法是為GET  (待解決) ref:https://stackoverflow.com/questions/71431755/how-to-use-more-than-one-post-request-in-same-route--}}
        {{!-- <form action="/" method="POST">
          <button class="btn btn-danger">
            刪除 (delete)
            <i class="fa-solid fa-ban"></i></button>
        </form> --}}

      </div>

    </form>

  </div>
</div>