<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <h4 class="mb-2">尋找餐廳：</h4>
      <div class="d-flex justify-content-start">
        <form action="/" method="GET">
          <div class="d-flex flex-row align-items-center gap-2">
            <div class="input-group">
              <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類"
                aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button" />
              <button class="btn btn-major" type="submit" id="search-button">
                <i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        
<!-- Sort bar -->
        <form action="/" method="GET">
          <div class="input-group ms-2" style="width: 200px; height:40px;">
            <select class="form-select text-center" name="sort" onchange="">
              <option value="a-z" {{#if sort.a-z}}selected{{/if}}>A->Z</option>
              <option value="z-a" {{#if sort.z-a}}selected{{/if}}>Z->A</option>
              <option value="category" {{#if sort.category}}selected{{/if}}>類別</option>
              <option value="location" {{#if sort.location}}selected{{/if}}>地址</option>
            </select>
            <button type="submit" class="btn btn-major">排序</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurantList}}
        {{!-- <a href="/restaurants/{{this._id}}" class="text-secondary"> --}}
          <div class="card mb-3">
            <a href="./restaurants/{{this._id}}">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" />
            </a>

            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>
                {{this.category}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="rating">
                  <span class="badge rounded-pill text-bg-danger font-weight-normal">
                    {{this.rating}}
                    <i class="fa-solid fa-star fa-xs"></i>
                  </span>
                </div>

                <div class="edit-option">
                  <form action="./restaurants/{{this._id}}/edit" method="GET" style="display:inline ;">
                    <button type="submit" class="btn btn-outline-primary align-top">
                      <i class="fa-solid fa-pen-to-square"></i></button>
                  </form>
                  <form action="./restaurants/{{this._id}}" method="GET" style="display:inline ;">
                    <button type="submit" class="btn btn-outline-info align-top">
                      <i class="fa-solid fa-circle-info"></i></button>
                  </form>
                  <form action="./restaurants/{{this._id}}?_method=DELETE" method="POST" style="display:inline ;">
                    {{!-- method 可以直接使用onclick="return confirm(`XXXX`)"，這樣可以不用掛script在main.hbs --}}
                    <button type="submit" class="btn btn-outline-secondary align-top" id="delete-btn" name="delete-btn"
                      onclick="check(`{{this.name}}`)">
                      <i class="fa-regular fa-trash-can"></i></button>
                  </form>
                </div>
              </div>

            </div>
          </div>
          {{!
        </a> }}
        {{/each}}
      </div>
    </div>
  </div>
</div>